*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white:#fff;
    --color-black:#000;
    --color-bg:#dbdbdb;
    --color-grey: rgb(143, 143, 143); 
    --color-blue: rgb(41, 101, 212);
}



body{
    background: linear-gradient(var(--color-white), var(--color-blue));
    height: 100vh;
}

.container{
    background: var(--color-white);
    max-width: 90%;
    min-width: 40%;
    width: 600px;
    height: 500px;
    margin: 5% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-blue);
    justify-content: flex-start;
}

.container h2{
    text-align: center;
    /* margin-bottom: 20px; */
    font-size: 30px;
}

.login_info{
    display: flex;
    justify-content: space-between;
    height: 90%;
    padding-left: 10px;
    
}

.info{
    width: 50%;
    text-align: center;
    font-size: 30px;
    background-image: url(../img/Doctor\ with\ stethescope.jpg);
    object-fit: cover;
    background-position: center;
    max-height: 100%;
    border-radius: 20px;
    padding: 6%;
    box-shadow: 0 0 5px var(--color-blue);
}

.info p{
    margin-top: 30%;

}

.login_form{
    margin-bottom: 10px;
    width: 100%;
}

.form_side{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5%;
}

input{
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid grey ;
}

.form_side button{
    margin-bottom: 7px;
    border-radius: 10px;
    padding: 3px;
    font-weight: bold;
}

.form_side button:hover{
    background: var(--color-blue);
    color: white;
}

.form_side p{
    text-align: center;
}